<md-dialog aria-label="Mango (Fruit)"  ng-cloak>
    <form>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>安排课程</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="cancel()">
                    <md-icon md-svg-src="icon/ic_clear_black_24px.svg" aria-label="Close dialog"></md-icon>
                </md-button>
            </div>
        </md-toolbar>
        <md-dialog-content style="max-width:800px;max-height:810px;">
            <div class="md-dialog-content" layout="column" layout-align="space-between start">
                <div layout="row" layout-align="space-between center">
                    <div flex="65">
                        <multiple-date-picker day-click="logInfos"/>
                    </div>
                    <div flex="25">
                        sadfasdfasdfasf
                    </div>
                </div>
                <div>
                    asdfasdfasdf
                </div>
            </div>
        </md-dialog-content>
        <div class="md-actions" layout="row">
            <span flex></span>
            <md-button ng-click="answer('not useful')" >
                Not Useful
            </md-button>
            <md-button ng-click="answer('useful')" style="margin-right:20px;" >
                Useful
            </md-button>
        </div>
    </form>
</md-dialog>