<md-dialog aria-label="Mango (Fruit)"  ng-cloak>
    <form>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>安排课程</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="cancel()">
                    <md-icon md-svg-src="icon/ic_clear_black_24px.svg" aria-label="Close dialog"></md-icon>
                </md-button>
            </div>
        </md-toolbar>
        <md-dialog-content style="max-width:800px;max-height:810px;">
            <div class="md-dialog-content" layout="column" layout-align="space-between start">
                <div layout="row" layout-align="space-between center">
                    <div flex="65">
                        <multiple-date-picker day-click="Daychange"  month-changed="MonthChanged"/>
                    </div>
                    <div flex="30">
                        <md-content>
                            <md-chips class="custom-chips" ng-model="DayCourse" readonly="true"
                                      md-on-append="ctrl.newVeg($chip)">
                                <md-chip-template>
                                    <span>
                                      <strong>{{$chip.date}}</strong>
                                      <em>({{$chip.num}})节课</em>
                                    </span>
                                </md-chip-template>
                            </md-chips>
                        </md-content>
                    </div>
                </div>
                <div style="width: 50%;padding-top: 30px">
                    <md-input-container class="md-block">
                        <label>先选择课程数量，再选择一天上几节课，默认一节</label>
                        <md-select  ng-model="select">
                            <md-option value="1">One</md-option>
                            <md-option value="2">Two</md-option>
                            <md-option value="3">Three</md-option>
                            <md-option value="4">Four</md-option>
                            <md-option value="5">Five</md-option>
                        </md-select>
                    </md-input-container>
                </div>
            </div>
        </md-dialog-content>
        <div class="md-actions" layout="row">
            <span flex></span>
            <md-button ng-click="answer('not useful')" >
                Cancel
            </md-button>
            <md-button ng-click="answer('useful')" style="margin-right:20px;" >
                Save
            </md-button>
        </div>
    </form>
</md-dialog>